
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;900&display=swap');

#page {
    font-family: 'Roboto Slab', serif;
    background-color: #ffffff
}

body::-webkit-scrollbar{
    width: 5px;
    background: #DDE6ED;
}

body::-webkit-scrollbar-thumb{
    background: #393E46;
    border-radius: 20px;
}

#page {
    color: white;
}

.header {
    width: 100vw;
    margin: 0 auto;
}
.inicio {
    padding: 25px 0;
    background: #222831;
}

.menu {
    background:#222831;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10000;
    transition: 0.5s;
    width: 100vw;
    padding: 10px 0 ;
}

.logo {
    font-size: 2em;
    color:#64CCC5;
    font-weight: 800;
    text-transform: uppercase;
}

.logo span{
    color:white;
}

.inicio .navbar .activo {
    color: #64CCC5;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 15px;
    padding: 20px;
    color: white;
    display: block;
}
.menu .navbar ul li a:hover {
    
    background-color: #DDE6ED;
    color: #64CCC5;
    transition: ease-in 0.2s;
}
#menu {
    display: none;
}
.menu-icono {
    width: 25px;
    padding: 1px;
    background: white;
}
.menu label {
    cursor: pointer;
    display: none;
}

.inicio .abajo {
    background: #ffffff;
    padding: 5px 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px 0px;;
}

.abajo .logo span{
    color:black;
}

.abajo .navbar ul li a {
    color: black;
}

.menu .navbar {
    display: flex;
   
}

.navbar li {
    list-style: none;
}
.menu a{
    text-decoration: none;
    padding: 10px 20px;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-two .container-contenido h1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.container-three .container-contenido h1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}


.container-two, .container-three, .container-four{
    height: 90vh;
    display: contents;
    align-content: center;
}



.info {
    margin: 25px;
}

.info h1 {
    font-size: 3em;
}

.info span {
    color: #64CCC5;
}

.teaser {
    font-size: 1.2em;

}

.button {
    margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
    color: black;
    padding: 10px 20px;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button:hover{
    background-color: #393E46;
    color: #DDE6ED;
    transition: ease-in 0.1s;
}

.container {
    background-color: #222831;
    padding: 20px 25px;
}

.container img{
    min-width: 140px;
}

.container-two {
    background-color: #ffffff;
}

.container-container {
    padding-top: 10px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 2em;
}

.container-container img {
    width: 100px;
    filter: drop-shadow(0 0 5px #fff);
    transition: all 0.3s;
}

.container-container img:hover{
    filter: drop-shadow(0 0 10px #fff);
}



.container-three {
    background-color: #ffffff;
    border-top: 2px solid #000;
}

.container-three img{
    width: 200px;
    height: 200px;
}

.container-four {
    background-color: #222831;
    border-bottom: 2px solid #ffffff ;
}

.footer {
    background-color: #222831;
    display: flex;
    height: 10rem;
    flex-direction: column;
    row-gap: 1.25rem;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.social-network {
    display: flex;
    margin-top: 20px;
}

.social-network a{
    display: flex;
    margin: 5px;
    border-radius: 50%;
    background-color: #393E46;
}

.social-network img{
    padding: 10px;
}

.social-network img:hover {
    filter: invert(42%) sepia(6%) saturate(6950%) hue-rotate(178deg) 
    brightness(95%) contrast(87%);
}

.legal-footer {
    padding: 1px 50px;
    display: flex;
    justify-content: space-between;
}

.legal-footer li{
    list-style: none;
}

.redes {
    position: absolute;
    top: 45%;
    right: 20px;
    padding: 7px 4px 4px 6px;
    border: 2px solid #fff;
    border-radius: 5px;
    z-index: 9999;
}

.redes div {
    width: 94%;
    height: 2px;
    background: #fff;
    margin: 7px 0 6px 0;
}

.redes img {
    display: block;
}

.redes img:hover {
    filter: invert(42%) sepia(6%) saturate(6950%) hue-rotate(178deg) 
    brightness(95%) contrast(87%);
}

@media(max-width:992px) {
    .menu {
        padding: 15px 0;
    }
    .menu label {
        display: initial;
    }
    .inicio {
        padding: 40px 0;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;        
        right: 0;
        background-color: #393E46;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
    .redes {
        display: none;
    }

    .container-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        gap: 5em;
    }

    .container-container img{
        width: 90px;
    }
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {

    .menu {
        padding: 15px 0;
    }
    .menu label {
        display: initial;
    }
    .inicio {
        padding: 40px 0;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;        
        right: 0;
        background-color: #393E46;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }

    .info h1 {
       font-size: 35px;
    }
    .info .teaser {
        font-size: 20px;
     }
    .container img {
        display: none;
    }
    .redes {
        display: none;
    }
    .legal-footer {
        font-size: 13px;
        display: contents;
        text-align: center;
    }
    .legal-footer li {
        margin: 10px;
    }
    .social-network {
        margin: 10px;
    }
    .container-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1em;
    }
    .container-container img{
        width: 75px;
    }
    .footer {
        display: block;
    }
  }
  @media (min-width: 1200px) {
  }